<%= content_for :head do %>
<script type="text/javascript" charset="utf-8">
  var form_url = '<%= tasks_path(:project_id=>@project.to_param) %>';
  var completed_url = '<%= switch_completed_task_path(-1, :project_id=>@project.to_param) %>'
  function add_new_task(resp, status, xhr, form)
  {
    if(status=='success'){
      var elem = $(single_task).appendTo('ul#task_items').fadeIn();
      $(elem).children('.task_title').text(resp.task.title);
    }
  };
  function switch_task_status()
  {
    var id = $(this).attr('value');
    var replace_url = completed_url.replace(/\-1/, id);
    jQuery.getJSON(replace_url, function(data, test_status){
      $('#task_id_'+id).fadeOut();
    });
  }
  var single_task = "<%= escape_javascript(render(:partial=>@task)) %>";
  $(document).ready(function(){
    $('#new_task').ajaxForm({success: add_new_task, dataType: 'json', clearForm: true});
    $('.single_task_wrapper input[type="checkbox"]').live('click', switch_task_status);
  });
</script>
<% end %>


<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to t(".all_tasks", :default => "All tasks"), tasks_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_task_path(:project_id=>@project.to_param) %></li>
    </ul>
  </div>          
  <div class="content">        
    <%= render :partial=>"form"%>  
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Tasks</h2>
    <div class="inner">
      <ul class="task_items" id="task_items">
        <% @tasks.each do |task| %>
          <%= render :partial=>task%>
        <% end %>
      </ul>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'index_sidebar') -%>
