<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", project_topics_path(@project)  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_project_topic_path(@project) %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Topics</h2>
    <div class="inner">
      <ul class="list">
        <% for topic in @topics %>
        <li>
          <div class="left">
            Ava
          </div>
          <div class="item">
            <h4><%= link_to topic.title, project_topic_path(@project, topic) %></h4>
            <p>

            </p>
            <p>
              Utworzono: <%= topic.created_at %>, ostatnia post: <%= topic.posts.last.user %> (<%= topic.posts.last.created_at %>)
            </p>
          </div>
        </li>
        <% end %>
      </ul>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<%# content_for :sidebar, render(:partial => 'index_sidebar') -%>
