<table class="table single_comment_table">
	<tr>
		<td width="150" valign="top">
			<b><%= ticket_comment.owner %></b><br />
			<%= l ticket_comment.updated_at, :format=>:long%>
		</td>
		<td valign="top">
			<%= simple_format ticket_comment.description %>
		</td>
		<td width="200" valign="top">
			<i>
   		 <% if not ticket_comment.status_from.blank? or not ticket_comment.status_to.blank? %>
		      <b><%= t 'tickets.attributes.status' %>: </b>
		      <%= ticket_comment.status_from %>
		      &raquo; <%= ticket_comment.status_to %>
					<br />
		    <% end %>
		    <% if not ticket_comment.priority_from.blank? or not ticket_comment.priority_to.blank? %>
		      <b><%= t 'tickets.attributes.priority' %>: </b>
		      <%= ticket_comment.priority_from_str unless ticket_comment.priority_from.blank?  %>
		      &raquo; <%= ticket_comment.priority_to_str %>
					<br />
		    <% end %>
		    <% if not ticket_comment.responsible_id_from.blank? or not ticket_comment.responsible_id_to.blank? %>
		      <b><%= t 'tickets.attributes.responsible' %>: </b>
		      <%= ticket_comment.responsible_id_from.blank? ? "-" : ticket_comment.responsible_from %>
		      &raquo; <%= ticket_comment.responsible_id_to.blank? ? "-" : ticket_comment.responsible_to %>
		    <% end %>
		  </i>
  	</td>
	</tr>
</table>
