<%= form_for( [@project, @topic, @post], :html=>{:multipart=>true}) do |f| %>
	<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      nested_forms['asset'] = "<%= generate_template(f, :assets) %>";
    });
  </script>
  <% end %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<table class="table post_form">
			<tr>
				<td colspan="3">
					<%= f.label :body %><br />
			    <%= f.text_area :body, :size=>"60x5" %>
				</td>
			<tr>
				<td colspan="3">
					<div class="group">
				  	<ul id="assets_fields" style="clear: both;">
					    <%= f.fields_for :assets do |fa| %>
					    	<%= render :partial=>"asset", :locals=>{:f=>fa}%>
					    <% end %>
					  </ul>
					  <a name="asset"></a>
				  	<%= link_to '+ Add asset', '#asset', :class => "add_nested_item", :rel => "asset" %><br />
					</div>
					
				</td>
			</tr>
			<tr>
				<td colspan="3" align="right" style="padding-top: 10px;">
					<button class="button" type="submit"  style="float: right;">
				    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t(".create_new_comment", :default => "Create new comment") %>
				  </button>
				</td>
			</tr>
		</table>
  </div>
  
<% end %>
