<!DOCTYPE html>
<html>
<head>
  <title>Doless</title>
  <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override", :cache => false %>
  <%= javascript_include_tag 'jquery/jquery.min', 'jquery/jquery.cookie', 'rails', 'application', :cache => true %>
  <%= csrf_meta_tag %>
	<%= yield(:head) || "" %>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			
		});
	</script>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%= link_to 'Doless', root_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%= link_to t("web-app-theme.profile", :default => "Profile"), edit_user_registration_path %></li>
          <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :class=>"logout" %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
        	<li class="<%= controller.controller_path == 'dashboards' ? 'active' : '' %>"><%= link_to t('doless.modules.dashboard', :default=>'Dashboard'), dashboard_path %></li>
					<% if not @project.blank? and not @project.id.blank? %>
						<li class="<%= controller.controller_path == 'projects' ? 'active' : '' %>"><%= link_to @project.name, @project %></li>
						<li class="<%= controller.controller_path == 'tickets' ? 'active' : '' %>"><%= link_to t('doless.modules.tickets', :default=>'Tickets'), project_tickets_path(@project) %></li>
					<% end %>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <a href="http://groovyru.by">GroovyRuby</a>.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
